[Unit]
Description=Loki Service

[Service]
User=loki
Group=loki
WorkingDirectory={{ install_dir }}
ExecStart=/usr/bin/loki -config.file={{ install_dir }}/conf/local-config.yaml
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
