[Unit]
Description=Prometheus Service

[Service]
User=prometheus
Group=prometheus
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/prometheus {% if remote_write_enabled %}-web.enable-remote-write-receiver{% endif %}
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
